<head>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<a href="/user/logout" class="logout">Logout</a>

<h1>Social todo app for cpsc113</h1>

{{#if errors}}
<div style="color:red" class="validation-error">
    {{errors}}
</div>
{{/if}}

{{#if currentUser}}
    <h2>Welcome, {{currentUser.name}}</h2>
    <div>
        <h4>Your Tasks</h4>
        {{#if tasks}}
            {{#each tasks}}
                {{#if this.isComplete}}
                    <div class="tasks-list-item complete-task">
                        <span class="task-title">COMPLETED</span>
                        {{#if this.isOwner}}
                            <form method="post" action='/task/delete/{{this._id}}'>
                                <input type="submit" name="delete-task" class="delete-task" value="Delete">
                            </form>
                        {{/if}}
                        <form method="post" action='/task/complete/{{this._id}}'>
                            <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">
                        </form>
                    </div>
                {{else}}
                    <div class="tasks-list-item">
                        <span class="task-title">{{this.title}}</span>
                        {{#if this.isOwner}}
                            <form method="post" action='/task/delete/{{this._id}}'>
                                <input type="submit" name="delete-task" class="delete-task" value="Delete">
                            </form>
                        {{/if}}
                        <form method="post" action='/task/complete/{{this._id}}'>
                            <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">
                        </form>
                    </div>
                {{/if}}
            {{/each}}
        {{else}}
            No tasks to show!
        {{/if}}
    </div>
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form action="/task/create" method="POST" class="create-task">
            <label for="title">Task title</label>
            <input name="title" type="text"><br>
            <label for="description">Task Description</label>
            <input name="description" type="text"><br>
            Collaborators<br>
            <input name="collaborator1" type="email"><br>
            <input name="collaborator2" type="email"><br>
            <input name="collaborator3" type="email"><br>
            <input type="submit" class="create-task-submit">
        </form>
    </div>

{{else}}
<div>
    <form class="login-form" action="/user/login" method="POST">
        <input name="email" type='text' class="text-input" placeholder="Email">
        <input name="email" id="email" type="text"><br>
        <label name="password" type='text' class="password" placeholder="Password">
        <input type="submit"  id="login-button" class="log-in-submit">
    </form>
</div>

<div><hr></div>

<div>
    <form action="/user/register" method="POST" class="signup-form" style="display: block;">
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
    </form>
</div>
{{/if}}